.items {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-column-gap: 1.5rem;
  grid-auto-rows: 1fr;
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 768px) {
  .items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 992px) {
  .items {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 1280px) {
  .items {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 1536px) {
  .items {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
