.logo {
  /* margin-left: 1rem; */
  /* margin-top: 0.5rem; */
  font-weight: 600;
  letter-spacing: 1px;
  color: #e5c453;
  width: 100%;
}
.btn {
  /* text-align: left; */
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn p {
  text-align: left;
  /* margin-left: 0.5rem; */
}
